@import "./src/styles/variables.scss";

.info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 2%;
  background-color: $summit-white;
  z-index: 2;

  .navigation {
    display: flex;
    width: 100%;

    .logotype {
      width: 40%;
    }

    .nav-menu {
      font-family: "everett-medium";
      display: flex;
      justify-content: space-between;
      letter-spacing: 0.05em;
      align-items: center;
      min-width: 50%;
      font-size: $font-s;
      cursor: pointer;

      .nav-contact {
        color: $charlice;
        cursor: pointer;
      }
    }
  }

  .info-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36vh;

    .info_footer_header {
      display: flex;
      width: 100%;

      .description-title {
        font-family: "everett-regular";
        font-size: $font-m;
        color: black;
      }

      .infobox_img_container {
        width: 50%;
        align-content: center;

        .logo {
          position: relative;
          width: 8%;
          height: auto;
        }
      }
    }

    .description {
      display: flex;
      justify-content: space-between;
      font-family: "ghost-regular";
      font-size: $font-m;
      line-height: 1.2;
      color: $charlice;
      overflow: scroll;
      width: 100%;

      .empty_block {
        width: 50%;
      }

      .description_text {
        width: 50%;
      }
    }
  }
}

@media (max-width: 600px) {
  .info {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 96%;
    padding: 5%;

    .navigation {
      flex-direction: column;
      width: 100%;
      height: 100%;

      .logotype {
        width: 100%;
      }

      .nav-menu {
        font-family: "everett-medium";
        display: flex;
        justify-content: center;
        letter-spacing: 0.05em;
        margin-top: 50%;

        .nav-link {
          display: none;
        }

        .nav-contact {
          color: $charlice;
          cursor: pointer;
          font-size: 10px;
        }
      }
    }

    .info-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50%;
      width: 100%;

      .info_footer_header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;

        .description-title {
          font-family: "everett-regular";
          font-size: 28px;
          color: $jet-black;
          width: 50%;
        }

        .infobox_img_container {
          display: flex;
          justify-content: end;
          width: 50%;

          .logo {
            position: relative;
            width: 15%;
            height: auto;
          }
        }
      }

      .description {
        font-size: $font-m;
        line-height: 1.2;
        width: 100%;

        .empty_block {
          display: none;
        }

        .description_text {
          width: 100%;
          font-size: 19px;
        }
      }
    }
  }
}
