@import "./src/styles/variables.scss";

.info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 2%;
  background-color: #f2f2f2;
  z-index: 2;

  .navigation {
    display: flex;
    width: 100%;

    .logotype {
      width: 40%;
    }

    .nav-menu {
      font-family: "everett-medium";
      display: flex;
      justify-content: space-between;
      letter-spacing: 0.05em;
      align-items: center;
      min-width: 50%;
      font-size: $font-s;
      cursor: pointer;

      .nav-contact {
        color: grey;
        cursor: pointer;
      }
    }
  }

  .info-footer {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    height: 44vh;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      font-family: "ghost-regular";
      font-size: $font-m;
      line-height: 1.2;
      color: grey;
      padding-right: 8%;
      overflow: scroll;

      .description-title {
        font-family: "everett-regular";
        font-size: $font-m;
        color: black;
      }
    }

    .infobox_img_container {
      margin-top: 5%;
      width: 48%;
      align-content: center;

      .logo {
        position: relative;
        width: 100%;
        height: auto;
        box-sizing: border-box;
      }
    }
  }
}
