@import "./src/styles/variables.scss";

.contact_us_container,
.contact_us_container_sent {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  position: absolute;
  width: 480px;
  height: 573px;
  background-color: $cosmic-black;
  padding: 70px 35px 35px 35px;
  z-index: 10000;

  .contact_us_container_sent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .cf_content_sent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .cf_header,
  .cf_header_back {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 0.5px solid $charlice;

    .cf_title {
      display: flex;
      color: $summit-white;
      font-size: 24px;
      font-family: $ghost;
      margin-bottom: 18px;
    }

    .cf_close {
      display: none;
      justify-content: flex-end;
      color: $summit-white;
      font-size: 24px;
    }
  }
  .cf_header_back {
    border: none;
  }
  select,
  option,
  input,
  textarea {
    outline: none;
    border: none;
    background-color: $cosmic-black;
    font-size: 12px;
    color: $charlice;
    border-radius: none;
    box-shadow: none;
    width: 100%;
    appearance: none;
  }

  textarea {
    resize: none;
    color: $charlice;
    font-family: $everett-regular;
    border-bottom: 0.5px solid $charlice;
  }

  span {
    font-size: 12px;
    color: red;
  }

  .cf_input_box {
    box-sizing: border-box;
    position: relative;

    .cf_input_name {
      display: block;
      padding: 0;
      margin: 0;
      height: 35px;
      border-bottom: 0.5px solid $charlice;
    }
    .cf_input_name_first {
      height: 100%;
      border-bottom: 0.5px solid $charlice;
      border-top: 0.5px solid $charlice;
    }

    .cf_error {
      position: absolute;
      font-family: $everett-regular;
      top: 30%;
      right: 0;
    }
  }

  .cf_textarea_box {
    position: relative;
    margin-bottom: -8px;

    .cf_input_name {
      height: 229px;
      padding-top: 12px;
    }

    .cf_error {
      position: absolute;
      font-family: $everett-regular;
      top: 12px;
      right: 0;
    }
  }

  .cf_footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;

    .cf_send {
      color: $summit-white;
      font-family: $ghost;
      font-size: 24px;
      background: none;
      width: 100px;
      height: auto;
      border: none;
      padding: 0;
      margin-left: -20px;
      margin-bottom: -5px;
      cursor: pointer;
      outline: inherit;
    }

    .cf_send_back {
      display: block;
      color: $summit-white;
      font-family: $ghost;
      font-size: 24px;
      background: none;
      width: 100px;
      height: auto;
      border: none;
      padding: 0;
      // margin-left: -20px;
      margin-bottom: -7px;
      cursor: pointer;
      outline: inherit;
    }

    .cf_logo,
    .cf_logo_sending {
      width: 23px;
      height: auto;
    }

    .cf_logo_sending {
      animation-name: rotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes rotate {
      from {
        transform: rotate(-360deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 600px) {
  .contact_us_container,
  .contact_us_container_sent {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 70%;
    padding: 4%;
    z-index: 10000;

    .contact_us_container_sent {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    .cf_content_sent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .cf_header {
      padding-bottom: 2%;

      .cf_title {
        font-size: 24px;
        font-family: $ghost;
        margin-bottom: 5%;
      }

      .cf_close {
        display: flex;
        font-size: 24px;
        line-height: 1;
      }
    }

    input,
    textarea {
      outline: none;
      font-family: $everett-regular;
      font-size: 14px;
      height: 12%;
      border-radius: 0;
    }

    input {
      max-height: 40px;
    }

    .input_last {
      border-radius: 0;
      margin-bottom: 1%;
      max-height: 40px;
    }

    textarea {
      resize: none;
      height: 60%;
      border-radius: 0;
      padding-top: 3%;
      box-sizing: border-box;
    }

    .cf_footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2%;

      .cf_send {
        font-family: $ghost;
        font-size: 24px;
      }

      .cf_logo,
      .cf_logo_sending {
        width: 8%;
      }

      .cf_logo_sending {
        animation-name: rotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes rotate {
        from {
          transform: rotate(-360deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
