@import "./src/styles/variables.scss";

.homeowners_container,
.homeowners_container_blur {
  position: absolute;
  background-color: $summit-white;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  .homeowners_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    box-sizing: border-box;

    .homeowners_header_right {
      width: 30%;

      .homeowners_logo {
        z-index: 1000;

        .homeowners_img_logo {
          width: 210px;
          height: auto;
        }
      }
    }

    .homeowners_header_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      .homeowners_contact {
        color: $charlice;
        font-size: 12px;
        line-height: 1;
        margin-top: -13px;
        font-family: $everett-medium;
        cursor: pointer;
      }

      .homeowner_close {
        color: $cosmic-black;
        font-size: 34px;
        font-family: $everett-regular;
        line-height: 1;
        margin-top: -1%;
        cursor: pointer;
      }
    }
  }

  .homeowners_content {
    box-sizing: border-box;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    position: fixed;
    bottom: 50%;

    .homeowners_content_right {
      display: flex;
      width: 30%;

      .homeowners_title {
        font-family: $everett-regular;
        font-size: 28px;
        color: $cosmic-black;
      }
    }

    .homeowners_content_left {
      width: 70%;
      display: flex;
      flex-direction: column;

      .homeowners_text {
        font-family: $ghost;
        font-size: 28px;
        line-height: 1.2;
        color: $cosmic-black;
      }
    }
  }

  .homeowners_footer {
    background-image: url("../../../../../public/assets/images/enium_homeowners_bg_mobile_quality.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 50%;
    position: fixed;
    bottom: 0;

    .homeowners_images_right {
      width: 30%;
    }

    .homeowners_images_box {
      width: 70%;
      display: flex;
      justify-content: space-between;
      padding: 0 0 0 0;

      .homeowners_content_item {
        display: flex;
        flex-direction: column;
        padding: 1% 1% 2% 0%;
        width: 20vw;

        .homeowners_percent_box {
          display: flex;
          align-items: flex-start;
          font-family: $everett-regular;
          color: $summit-white;
          margin-bottom: 10%;
          padding: 0;

          .homeowners_percent_box_number {
            font-size: 64px;
            line-height: 1;
          }

          .homeowners_percent_box_title {
            font-size: 20px;
            margin: 2%;
          }
        }

        .homeowners_img {
          width: 16vw;
          height: auto;
          margin-bottom: 12%;
        }

        .homeowners_infobox {
          display: flex;
          justify-content: space-between;
          font-family: $ghost;
          font-size: 18px;
          color: $summit-white;
          margin-top: 0;
        }
      }
    }
  }
}

.homeowners_container_blur {
  filter: blur(0.3rem);
}

@media (max-width: 1200px) {
  .homeowners_container,
  .homeowners_container_blur {
    position: absolute;
    background-color: $summit-white;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    display: flex;
    flex-direction: column;

    .homeowners_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2%;
      box-sizing: border-box;

      .homeowners_header_right {
        width: 30%;

        .homeowners_logo {
          z-index: 1000;

          .homeowners_img_logo {
            width: 180px;
            height: auto;
          }
        }
      }

      .homeowners_header_left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;

        .homeowners_contact {
          color: $charlice;
          font-size: 12px;
          line-height: 1;
          margin-top: -1%;
          font-family: $everett-medium;
          cursor: pointer;
        }

        .homeowner_close {
          color: $cosmic-black;
          font-size: 34px;
          font-family: $everett-regular;
          line-height: 1;
          margin-top: -1%;
          cursor: pointer;
        }
      }
    }

    .homeowners_content {
      box-sizing: border-box;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 2% 2% 2% 2%;
      position: fixed;
      bottom: 50%;

      .homeowners_content_right {
        display: flex;
        width: 30%;

        .homeowners_title {
          font-family: $everett-regular;
          font-size: 24px;
          color: $cosmic-black;
        }
      }

      .homeowners_content_left {
        width: 70%;
        display: flex;
        flex-direction: column;

        .homeowners_text {
          font-family: $ghost;
          font-size: 24px;
          line-height: 1.2;
          color: $cosmic-black;
        }
      }
    }

    .homeowners_footer {
      background-image: url("../../../../../public/assets/images/enium_homeowners_bg_mobile_quality.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;
      width: 100%;
      height: 50%;
      position: fixed;
      bottom: 0;

      .homeowners_images_right {
        width: 30%;
      }

      .homeowners_images_box {
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 0;

        .homeowners_content_item {
          display: flex;
          flex-direction: column;
          padding: 1% 1% 2% 0%;
          width: 20vw;

          .homeowners_percent_box {
            display: flex;
            align-items: flex-start;
            font-family: $everett-regular;
            color: $summit-white;
            margin-bottom: 10%;
            padding: 0;

            .homeowners_percent_box_number {
              font-size: 40px;
              line-height: 1;
            }

            .homeowners_percent_box_title {
              font-size: 12px;
              margin: 2%;
            }
          }

          .homeowners_img {
            width: 16vw;
            height: auto;
            margin-bottom: 12%;
          }

          .homeowners_infobox {
            display: flex;
            justify-content: space-between;
            font-family: $ghost;
            font-size: 17px;
            color: $summit-white;
            margin-top: 0;
          }
        }
      }
    }
  }
}

// @media (max-width: 900px) {
//   .homeowners_container,
//   .homeowners_container_blur {
//     position: absolute;
//     background-color: $summit-white;
//     z-index: $homeowners-z;
//     display: flex;
//     padding: 0;
//     overflow: scroll;
//     width: 100vw;

//     .homeowners_header {
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-start;
//       padding: 2% 5% 5% 5%;
//       margin: 0 0 56% 0;

//       .homeowners_header_right {
//         width: 100%;

//         .homeowners_logo {
//           z-index: 1000;
//           padding-top: 7%;

//           .homeowners_img_logo {
//             width: 31vw;
//             height: auto;
//             z-index: 1000;
//             margin: 0;
//           }
//         }
//       }

//       .homeowners_header_left {
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-start;
//         width: 100%;

//         .homeowners_contact {
//           visibility: hidden;
//         }

//         .homeowner_close {
//           padding: 0;
//           font-size: 36px;
//           font-family: $everett-regular;
//           line-height: 1;
//           cursor: pointer;
//           color: $cosmic-black;
//         }
//       }
//     }

//     .homeowners_content {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       width: 100%;
//       padding: 0;
//       position: static;

//       .homeowners_content_right {
//         margin-bottom: 0;
//         padding: 0 0 0 5%;

//         .homeowners_title {
//           font-family: $everett-regular;
//           font-size: 32px;
//           color: $jet-black;
//         }
//       }

//       .homeowners_content_left {
//         display: flex;
//         flex-direction: column;
//         width: 100%;

//         .homeowners_text {
//           font-family: $ghost;
//           font-size: 32px;
//           line-height: 1.3;
//           padding: 5%;
//           color: $cosmic-black;
//         }
//       }
//     }

//     .homeowners_footer {
//       width: 100vw;
//       background-image: none;
//       padding: 0;
//       height: auto;
//       position: static;

//       .homeowners_images_right {
//         display: none;
//       }

//       .homeowners_images_box {
//         width: 100%;
//         padding: 20% 5% 20% 5%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         margin-bottom: 0;
//         background-image: url("../../../../../public/assets/images/homeowners_bg_mobile.jpg");
//         background-repeat: no-repeat;
//         background-size: 100% 100%;

//         .homeowners_content_item {
//           display: flex;
//           flex-direction: column;
//           // align-items: center;
//           width: 100%;
//           padding: 0 0 20% 0;

//           .homeowners_percent_box {
//             margin: 0 0 5% 0;

//             .homeowners_percent_box_number {
//               font-size: 72px;
//             }
//             .homeowners_percent_box_title {
//               font-size: 24px;
//             }
//           }

//           // .homeowners_img {
//           //   width: 80%;
//           //   height: auto;
//           //   padding: 0;
//           // }

//           .homeowners_infobox {
//             width: 100%;
//             font-family: $ghost;
//             font-size: 2.4vmax;
//             color: $summit-white;
//             line-height: 1.3;
//             // padding: 5%;
//             box-sizing: border-box;
//             bottom: 10px;
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 750px) {
  .homeowners_container,
  .homeowners_container_blur {
    position: absolute;
    background-color: $summit-white;
    z-index: $homeowners-z;
    display: flex;
    padding: 0;
    overflow: scroll;
    width: 100vw;

    .homeowners_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 5%;
      margin: 0;
      margin-bottom: 88%;

      .homeowners_header_right {
        width: 100%;

        .homeowners_logo {
          z-index: 1000;

          .homeowners_img_logo {
            width: 31vw;
            height: auto;
            z-index: 1000;
            margin: 0;
          }
        }
      }

      .homeowners_header_left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .homeowners_contact {
          visibility: hidden;
        }

        .homeowner_close {
          padding: 0;
          font-size: 36px;
          font-family: $everett-regular;
          line-height: 1;
          cursor: pointer;
          margin-top: -12px;
        }
      }
    }

    .homeowners_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      position: static;

      .homeowners_content_right {
        margin-bottom: 0;
        padding: 0 0 0 5%;

        .homeowners_title {
          font-family: $everett-regular;
          font-size: 24px;
          color: $jet-black;
        }
      }

      .homeowners_content_left {
        display: flex;
        flex-direction: column;
        width: 100%;

        .homeowners_text {
          font-family: $ghost;
          font-size: 22px;
          line-height: 1.3;
          padding: 5%;
        }
      }
    }

    .homeowners_footer {
      width: 100vw;
      background-image: none;
      padding: 0;
      height: auto;
      position: static;
      bottom: 0;

      .homeowners_images_right {
        display: none;
      }

      .homeowners_images_box {
        width: 100%;
        padding: 20% 5% 20% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        background-image: url("../../../../../public/assets/images/homeowners_bg_mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .homeowners_content_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 0 0 20% 0;

          .homeowners_percent_box {
            width: 90%;
            padding: 0;
            margin: 0 0 4% 0;

            .homeowners_percent_box_number {
              font-size: 72px;
              margin: 0 2% 0 -5%;
            }

            .homeowners_percent_box_title {
              font-size: 20px;
            }
          }

          // .homeowners_img {
          //   width: 80%;
          //   height: auto;
          //   padding: 0;
          // }

          .homeowners_infobox {
            width: 100%;
            font-family: $ghost;
            font-size: 18px;
            color: $summit-white;
            line-height: 1.3;
            margin-left: -8%;
            box-sizing: border-box;
            padding-left: 5%;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
