@import "./src/styles/variables.scss";

.homeowners_container,
.homeowners_container_blur {
  position: absolute;
  background-color: $summit-white;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .homeowners_bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0;

    .homeowners_bg_img {
      position: fixed;
      width: 100%;
      height: 50%;
    }
  }

  .homeowners_header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 18vh;

    .homeowners_header_right {
      width: 30%;

      .homeowners_logo {
        z-index: 1000;

        .homeowners_img_logo {
          width: 10vw;
          height: auto;
        }
      }
    }

    .homeowners_header_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 78%;

      .homeowners_contact {
        margin-top: 0.6%;
        color: $charlice;
        font-size: $font-s;
        font-family: $everett-medium;
        cursor: pointer;
      }

      .homeowner_close {
        color: $jet-black;
        font-size: $font-l;
        font-family: $everett-regular;
        line-height: 1;
        cursor: pointer;
      }
    }
  }

  .homeowners_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .homeowners_content_right {
      width: 30%;

      .homeowners_title {
        font-family: $everett-regular;
        font-size: $font-l;
        color: $jet-black;
      }
    }

    .homeowners_content_left {
      width: 70%;
      display: flex;
      flex-direction: column;

      .homeowners_text {
        font-family: $ghost;
        font-size: $font-l;
        line-height: 1.2;
        color: $jet-black;
      }
    }
  }

  .homeowners_footer {
    background-image: url("../../../../../public/assets/images/homeowners_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    width: 100%;

    .homeowners_images_right {
      width: 30%;
    }

    .homeowners_images_box {
      width: 70%;
      display: flex;
      justify-content: space-between;
      padding: 2% 1% 5% 0;

      .homeowners_content_item {
        display: flex;
        flex-direction: column;
        padding: 1%;
        width: 27%;

        .homeowners_img {
          width: 16vw;
          height: 16vh;
          margin-bottom: 8%;
        }

        .homeowners_infobox {
          display: flex;
          justify-content: space-between;
          font-family: $ghost;
          font-size: $font-p;
          color: $summit-white;
          margin-top: 0;
        }
      }
    }
  }
}

.homeowners_container_blur {
  filter: blur(0.3rem);
}

@media (max-width: 600px) {
  .homeowners_container,
  .homeowners_container_blur {
    position: absolute;
    background-color: $summit-white;
    z-index: $homeowners-z;
    display: flex;
    padding: 0;
    overflow: scroll;
    width: 100vw;

    .homeowners_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5% 5% 5%;
      margin-bottom: 88%;

      .homeowners_header_right {
        width: 100%;

        .homeowners_logo {
          z-index: 1000;
          padding-top: 10%;

          .homeowners_img_logo {
            width: 31vw;
            height: auto;
            z-index: 1000;
            margin: 0;
          }
        }
      }

      .homeowners_header_left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .homeowners_contact {
          visibility: hidden;
        }

        .homeowner_close {
          padding: 0;
          font-size: 36px;
          font-family: $everett-regular;
          line-height: 1;
          cursor: pointer;
        }
      }
    }

    .homeowners_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 0;

      .homeowners_content_right {
        margin-bottom: 0;
        padding: 0 0 0 5%;

        .homeowners_title {
          font-family: $everett-regular;
          font-size: 24px;
          color: $jet-black;
        }
      }

      .homeowners_content_left {
        display: flex;
        flex-direction: column;
        width: 100%;

        .homeowners_text {
          font-family: $ghost;
          font-size: 22px;
          line-height: 1.3;
          padding: 5%;
        }
      }
    }

    .homeowners_footer {
      width: 100vw;
      background-image: none;
      padding: 0;

      .homeowners_images_right {
        display: none;
      }

      .homeowners_images_box {
        width: 100%;
        padding: 15% 5% 15% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        background-image: url("../../../../../public/assets/images/homeowners_bg_mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .homeowners_content_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 5% 0 5% 0;

          .homeowners_img {
            width: 80%;
            height: auto;
            padding: 0;
          }

          .homeowners_infobox {
            width: 100%;
            font-family: $ghost;
            font-size: 18px;
            color: $summit-white;
            line-height: 1.3;
            padding: 5%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
