@import "./src/styles/variables.scss";

.homeowners_container,
.homeowners_container_blur {
  position: absolute;
  background-image: url("../../../../../public/assets/images/homeowners_bg.jpg");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  z-index: $homeowners-z;
  display: flex;
  flex-direction: column;

  .homeowners_header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 13vh;

    .homeowners_header_right {
      width: 30%;

      .homeowners_logo {
        z-index: 1000;

        .homeowners_img_logo {
          width: 10vw;
          height: auto;
        }
      }
    }

    .homeowners_header_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      .homeowners_contact {
        margin-top: 0.6%;
        color: $summit-white;
        font-size: $font-s;
        font-family: $everett-medium;
      }

      .homeowner_close {
        color: $summit-white;
        font-size: $font-l;
        font-family: $everett-regular;
        line-height: 1;
        cursor: pointer;
      }
    }
  }

  .homeowners_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .homeowners_content_right {
      width: 30%;

      .homeowners_title {
        font-family: $everett-regular;
        font-size: $font-l;
        color: $summit-white;
      }
    }

    .homeowners_content_left {
      width: 70%;
      display: flex;
      flex-direction: column;

      .homeowners_text {
        font-family: $ghost;
        font-size: $font-l;
        line-height: 1.2;
        font-weight: 400;
        color: $summit-white;
        margin-bottom: 10%;
      }

      .homeowners_images_box {
        display: flex;
        justify-content: space-between;

        .homeowners_content_item {
          display: flex;
          flex-direction: column;
          width: 27%;

          .homeowners_img {
            width: 16vw;
            height: auto;
            margin-bottom: 8%;
          }

          .homeowners_infobox {
            display: flex;
            justify-content: space-between;
            font-family: $ghost;
            margin-top: 1%;
            font-size: $font-p;
            color: $summit-white;
            margin-top: 1%;
          }
        }
      }
    }
  }
}

.homeowners_container_blur {
  filter: blur(0.3rem);
}

@media (max-width: 600px) {
  .homeowners_container,
  .homeowners_container_blur {
    position: absolute;
    background-image: url("../../../../../public/assets/images/homeowners_bg_mobile.jpg");
    background-size: 100% 100%;
    z-index: $homeowners-z;
    display: flex;
    padding: 5%;
    overflow: auto;

    .homeowners_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2%;
      margin-bottom: 430px;

      .homeowners_header_right {
        width: 30%;

        .homeowners_logo {
          z-index: 1000;

          .homeowners_img_logo {
            width: 30vw;
            height: auto;
          }
        }
      }

      .homeowners_header_left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%;

        .homeowners_contact {
          visibility: hidden;
          margin-top: 0.6%;
          color: $summit-white;
          font-size: $font-s;
        }

        .homeowner_close {
          color: $summit-white;
          font-size: 36px;
          font-family: $everett-regular;
          line-height: 1;
          cursor: pointer;
        }
      }
    }

    .homeowners_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2%;

      .homeowners_content_right {
        margin-bottom: 40px;

        .homeowners_title {
          font-family: $everett-regular;
          font-size: 24px;
          color: $summit-white;
        }
      }

      .homeowners_content_left {
        display: flex;
        flex-direction: column;
        width: 100%;

        .homeowners_text {
          font-family: $ghost;
          font-size: 22px;
          line-height: 1.3;
          color: $summit-white;
          margin-bottom: 70px;
        }

        .homeowners_images_box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 150px;

          .homeowners_content_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 150px;

            .homeowners_img {
              width: 90%;
              height: auto;
              margin-bottom: 18%;
            }

            .homeowners_infobox {
              width: 80%;
              font-family: $ghost;
              font-size: 18px;
              color: $summit-white;
            }
          }
        }
      }
    }
  }
}
