//colors:

$summit-white: #f2f2f2;
$jet-black: #000000;
$cosmic-black: #2c2c2c;
$charlice: #949494;
$sterling-silver: #c6c6c6;
$citron-yellow: #e1f82b;
$blue: #879dad;
$digital-coral: #6b7d97;
$alabaster: #eff2ea;

//fonts:

$everett-regular: "everett-regular";
$everett-medium: "everett-medium";
$ghost: "ghost-regular";

//font-sizes:
$font-s: calc(8px + 4 * ((100vw -520px) / 1920));
$font-m: calc(14px + 14 * ((100vw - 520px) / 1920));
$font-l: calc(24px + 10 * ((100vw - 520px) / 1920));
$font-p: calc(12px + 12 * ((100vw - 520px) / 1920));

$font-s-mobile: calc(10px + 4 * ((100vw - 375px) / 600));
$font-m-mobile: calc(14px + 4 * ((100vw - 375px) / 600));
$font-l-mobile: calc(18px + 6 * ((100vw - 375px) / 600));

//z-indexes
$homeowners-z: 1001;
