//colors:

$summit-white: #f2f2f2;
$jet-black: #000000;
$cosmic-black: #2c2c2c;
$charlice: #949494;
$sterling-silver: #c6c6c6;
$citron-yellow: #e1f82b;
$blue: #879dad;
$digital-coral: #6b7d97;
$alabaster: #eff2ea;

//fonts:

$everett-regular: "everett-regular";
$everett-medium: "everett-medium";
$ghost: "ghost-regular";

//font-sizes:
$font-s: 16px;
$font-m: 32px;
$font-l: 48px;

//z-indexes
$homeowners-z: 1001;
