@import "./src/styles/variables.scss";

.video_container,
.video_container_active {
  display: flex;
  width: 54%;
  height: 100%;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  background-color: $sterling-silver;
  z-index: 1;
  padding: 2% 2% 2% 0;
  transition: right 1s ease-out;

  .video_left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 8%;
    cursor: pointer;

    .arrow-rigth {
      padding-top: 6%;
      font-size: $font-m;
      font-family: "everett-medium";
    }

    .learn_more {
      font-size: $font-s;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: "everett-regular";
      line-height: 1;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1%;
    width: 82%;
    height: 100%;

    .upper_text {
      font-family: "ghost-regular";
      font-size: $font-m;
      line-height: 1.3;
    }

    .items_box {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10% 0 0 0;

      .item_lending,
      .item_homeowners,
      .item_dealers {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 4%;

        .item_title {
          font-family: "everett-regular";
          font-size: $font-m;
        }

        .paragraph_homeowners {
          padding-right: 7%;
        }

        p,
        .p_homeowners {
          font-family: "ghost-regular";
          font-size: $font-p;
        }

        .item_learn_more {
          color: $summit-white;
          font-family: "everett-regular";
          font-size: $font-s;
          line-height: 1;
          cursor: pointer;
        }
      }
    }

    .video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;

      .video_img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.video_container_active {
  right: 46%;
  transition: right 1s ease-out;

  .video_left_side {
    .arrow-rigth {
      padding-top: 6%;
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 600px) {
  .video_container,
  .video_container_active {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    right: 0;
    top: -96vh;
    z-index: 100;
    transition: top 1s ease-out;
    padding: 0 5vw;

    .video_left_side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 4vh;
      width: 100%;

      .arrow-rigth {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-family: "everett-medium";
        transform: rotate(-90deg);
        height: auto;
        padding-bottom: 3%;
      }

      .learn_more {
        font-size: 14px;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-family: "everett-regular";
        line-height: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      padding: 5% 0;

      .upper_text {
        font-family: "ghost-regular";
        font-size: 24px;
        line-height: 1.3;
        width: 100%;
        padding: 5vh 0;
      }

      .items_box {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        bottom: 0;

        .item_lending,
        .item_homeowners,
        .item_dealers {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          width: 100%;
          margin-bottom: 10%;
          padding-bottom: 0;

          .item_homeowners {
            order: 3;
          }

          .item_lending {
            order: 2;
          }

          .item_dealers {
            order: 1;
          }

          .item_title {
            font-family: "everett-regular";
            font-size: 20px;
          }

          .paragraph_homeowners {
            padding-right: 0;
          }

          p,
          .paragraph_homeowners {
            font-family: "ghost-regular";
            font-size: 18px;
            margin-bottom: 2%;
          }

          .item_learn_more {
            color: $summit-white;
            font-family: "everett-regular";
            font-size: 12px;
            cursor: pointer;
          }
        }
      }

      .video {
        display: none;

        .video_img {
          display: none;
        }
      }
    }
  }

  .video_container_active {
    top: -8.8vh;
    width: 100%;
    transition: top 1s ease-out;

    .video {
      display: none;

      .video_img {
        display: none;
      }
    }

    .video_left_side {
      .arrow-rigth {
        transform: rotate(90deg);
        font-size: 18px;
        padding-bottom: 6%;
      }
    }
  }
}
