@import "./src/styles/variables.scss";

.video_container,
.video_container_active {
  display: flex;
  width: 54%;
  height: 100%;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  background-color: $sterling-silver;
  z-index: 1;
  padding: 2% 2% 2% 0;
  transition: right 1s ease-out;

  .video_bookmark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 8%;
    cursor: pointer;

    .arrow-rigth {
      padding-top: 6%;
      font-size: $font-medium;
      font-family: "everett-medium";
    }

    .learn_more {
      font-size: $font-small;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: "everett-regular";
      line-height: 1;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 82%;
    height: 100%;

    .upper_text {
      font-family: "ghost-regular";
      font-size: $font-medium;
      line-height: 1.3;
      padding-bottom: 0;
    }

    .items_box {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0;

      .item_lending,
      .item_homeowners,
      .item_dealers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-bottom: 2%;

        .item_title {
          font-family: "everett-regular";
          font-size: $font-medium;
          line-height: 1;
        }

        .paragraph_homeowners {
          padding-right: 5%;
        }

        p,
        .p_homeowners {
          padding: 4% 0 2% 0;
          margin: 0;
          font-family: "ghost-regular";
          font-size: $font-paragraph;
        }

        .item_learn_more {
          color: $summit-white;
          font-family: "everett-regular";
          font-size: $font-small;
          line-height: 1;
          cursor: pointer;
        }
      }

      .item_lending {
        display: block;
      }

      .item_dealers {
        margin-top: 4%;
      }
    }

    .video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;

      .video_img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
      }
    }
  }
}

.video_container_active {
  right: 46%;
  transition: right 1s ease-out;

  .video_left_side {
    .arrow-rigth {
      font-size: $font-medium;
      padding-top: 6%;
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 1400px) {
  .video_container,
  .video_container_active {
    display: flex;
    width: 54%;
    height: 100%;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    background-color: $sterling-silver;
    z-index: 1;
    padding: 2% 2% 2% 0;
    transition: right 1s ease-out;

    .video_bookmark {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 8%;
      cursor: pointer;

      .arrow-rigth {
        padding-top: 6%;
        font-size: 22px;
        font-family: "everett-medium";
      }

      .learn_more {
        font-size: 10px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: "everett-regular";
        line-height: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      width: 82%;
      height: 100%;

      .upper_text {
        font-family: "ghost-regular";
        font-size: 23px;
        line-height: 1.3;
        padding-bottom: 0;
      }

      .items_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;

        .item_lending,
        .item_homeowners,
        .item_dealers {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          padding-bottom: 2%;

          .item_title {
            font-family: "everett-regular";
            font-size: 23px;
            line-height: 1;
          }

          .paragraph_homeowners {
            padding-right: 5%;
          }

          p,
          .p_homeowners {
            padding: 6% 0 2% 0;
            margin: 0;
            font-family: "ghost-regular";
            font-size: 17px;
          }

          .item_learn_more {
            color: $summit-white;
            font-family: "everett-regular";
            font-size: 10px;
            line-height: 1;
            cursor: pointer;
          }
        }

        .item_lending {
          display: block;
        }

        .item_dealers {
          margin-top: 4%;
        }
      }

      .video {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;

        .video_img {
          width: 100%;
          height: auto;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }

  .video_container_active {
    right: 46%;
    transition: right 1s ease-out;

    .video_left_side {
      .arrow-rigth {
        font-size: 23px;
        padding-top: 6%;
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 1320px) {
  .video_container,
  .video_container_active {
    display: flex;
    width: 54%;
    height: 100%;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    background-color: $sterling-silver;
    z-index: 1;
    padding: 2% 2% 2% 0;
    transition: right 1s ease-out;

    .video_bookmark {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 8%;
      cursor: pointer;

      .arrow-rigth {
        padding-top: 6%;
        font-size: 22px;
        font-family: "everett-medium";
      }

      .learn_more {
        font-size: 12px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: "everett-regular";
        line-height: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 1%;
      width: 82%;
      height: 100%;

      .upper_text {
        font-family: "ghost-regular";
        font-size: 24px;
        line-height: 1.3;
        padding-bottom: 8%;
      }

      .items_box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;

        .item_lending,
        .item_homeowners,
        .item_dealers {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          padding-bottom: 6%;

          .item_title {
            font-family: "everett-regular";
            font-size: 24px;
            line-height: 1;
          }

          .paragraph_homeowners {
            padding-right: 5%;
          }

          p,
          .p_homeowners {
            padding: 4% 0 2% 0;
            margin: 0;
            font-family: "ghost-regular";
            font-size: 22px;
          }

          .item_learn_more {
            color: $summit-white;
            font-family: "everett-regular";
            font-size: 12px;
            line-height: 1;
            cursor: pointer;
          }
        }

        .item_lending {
          display: block;
        }

        .item_dealers {
          margin-top: 0;
        }

        .item_homeowners {
          order: -1;
        }
      }

      .video {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .video_img {
          aspect-ratio: 16 / 9;
        }
      }
    }
  }

  .video_container_active {
    right: 46%;
    transition: right 1s ease-out;

    .video_left_side {
      .arrow-rigth {
        padding-top: 6%;
        transform: rotate(180deg);
      }
    }
  }
}

/// XR ///
@media (max-width: 420px) {
  .video_container,
  .video_container_active {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -95%;
    z-index: 100;
    transition: top 1s ease-out;
    padding: 0;

    .video_bookmark {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5%;
      width: 91%;
      padding: 0 5% 0 4%;

      .arrow-rigth {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-family: "everett-medium";
        transform: rotate(-90deg);
        height: auto;
        padding-bottom: 5%;
      }

      .learn_more {
        font-size: 12px;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-family: "everett-medium";
        line-height: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 90%;
      padding: 18% 5% 0 5%;
      margin: 0;

      .upper_text {
        font-family: "ghost-regular";
        font-size: 21px;
        line-height: 1.3;
        width: 100%;
        padding: 0;
        margin-bottom: 4%;
      }

      .items_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .item_homeowners {
          order: -1;
        }

        .item_lending {
          order: 0;
        }

        .item_lending,
        .item_homeowners,
        .item_dealers {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 8%;
          padding: 0;

          .item_title {
            font-family: "everett-regular";
            font-size: 21px;
            line-height: 1;
            padding-bottom: 0;
          }

          .paragraph_homeowners {
            padding-right: 0;
          }

          p,
          .paragraph_homeowners {
            font-family: "ghost-regular";
            font-size: 16px;
            line-height: 1.2;
            margin: 0;
            padding: 4% 0 2% 0;
          }

          .item_learn_more {
            color: $summit-white;
            font-family: "everett-regular";
            font-size: 12px;
            cursor: pointer;
            line-height: 1;
          }
        }

        .item_dealers {
          margin: 0;
          padding: 0;
          order: 1;
        }
      }

      .video {
        display: none;

        .video_img {
          display: none;
        }
      }
    }
  }

  .video_container_active {
    top: -8%;
    width: 100%;
    transition: top 1s ease-out;

    .video {
      display: none;

      .video_img {
        display: none;
      }
    }

    .video_bookmark {
      .arrow-rigth {
        transform: rotate(90deg);
        font-size: 14px;
        padding-bottom: 6%;
      }
    }
  }
}

/// 390px ///
@media (max-width: 391px) {
  .video_container,
  .video_container_active {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -95%;
    z-index: 100;
    transition: top 1s ease-out;
    padding: 0;

    .video_bookmark {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5%;
      width: 91%;
      padding: 0 5% 0 4%;

      .arrow-rigth {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: "everett-medium";
        transform: rotate(-90deg);
        height: auto;
        padding-bottom: 5%;
      }

      .learn_more {
        font-size: 12px;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-family: "everett-medium";
        line-height: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 90%;
      padding: 18% 5% 0 5%;
      margin: 0;

      .upper_text {
        font-family: "ghost-regular";
        font-size: 19px;
        line-height: 1.3;
        width: 100%;
        padding: 0;
        margin-bottom: 5%;
      }

      .items_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .item_homeowners {
          order: -1;
        }

        .item_lending {
          order: 0;
        }

        .item_lending,
        .item_homeowners,
        .item_dealers {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 6%;
          padding: 0;

          .item_title {
            font-family: "everett-regular";
            font-size: 19px;
            line-height: 1;
            padding-bottom: 0;
          }

          .paragraph_homeowners {
            padding-right: 0;
          }

          p,
          .paragraph_homeowners {
            font-family: "ghost-regular";
            font-size: 16px;
            line-height: 1.2;
            margin: 0;
            padding: 4% 0 2% 0;
          }

          .item_learn_more {
            color: $summit-white;
            font-family: "everett-regular";
            font-size: 12px;
            cursor: pointer;
            line-height: 1;
          }
        }

        .item_dealers {
          margin: 0;
          padding: 0;
          order: 1;
        }
      }

      .video {
        display: none;

        .video_img {
          display: none;
        }
      }
    }
  }

  .video_container_active {
    top: -8%;
    width: 100%;
    transition: top 1s ease-out;

    .video {
      display: none;

      .video_img {
        display: none;
      }
    }

    .video_bookmark {
      .arrow-rigth {
        transform: rotate(90deg);
        font-size: 16px;
        padding-bottom: 6%;
      }
    }
  }
}

///////// iphone 7 /////////

@media (max-height: 548px) {
  .video_container,
  .video_container_active {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -95%;
    z-index: 100;
    transition: top 1s ease-out;
    padding: 0;

    .video_bookmark {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5%;
      width: 91%;
      padding: 0 5% 0 4%;

      .arrow-rigth {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-family: "everett-medium";
        transform: rotate(-90deg);
        height: auto;
        padding-bottom: 5%;
      }

      .learn_more {
        font-size: 10px;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-family: "everett-medium";
        line-height: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 90%;
      padding: 18% 5% 0 5%;
      margin: 0;

      .upper_text {
        font-family: "ghost-regular";
        font-size: 17px;
        line-height: 1.3;
        width: 100%;
        padding: 0;
        margin-bottom: 5%;
      }

      .items_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .item_homeowners {
          order: -1;
        }

        .item_lending {
          order: 0;
        }

        .item_lending,
        .item_homeowners,
        .item_dealers {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 6%;
          padding: 0;

          .item_title {
            font-family: "everett-regular";
            font-size: 17px;
            line-height: 1;
            padding-bottom: 0;
          }

          .paragraph_homeowners {
            padding-right: 0;
          }

          p,
          .paragraph_homeowners {
            font-family: "ghost-regular";
            font-size: 14px;
            line-height: 1.2;
            margin: 0;
            padding: 4% 0 2% 0;
          }

          .item_learn_more {
            color: $summit-white;
            font-family: "everett-regular";
            font-size: 10px;
            cursor: pointer;
            line-height: 1;
          }
        }

        .item_dealers {
          margin: 0;
          padding: 0;
          order: 1;
        }
      }

      .video {
        display: none;

        .video_img {
          display: none;
        }
      }
    }
  }

  .video_container_active {
    top: -8%;
    width: 100%;
    transition: top 1s ease-out;

    .video {
      display: none;

      .video_img {
        display: none;
      }
    }

    .video_bookmark {
      .arrow-rigth {
        transform: rotate(90deg);
        font-size: 12px;
        padding-bottom: 6%;
      }
    }
  }
}
