@import "./src/styles/variables.scss";

.video_container,
.video_container_active {
  display: flex;
  width: 54%;
  height: 100%;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  background-color: #c6c6c6;
  z-index: 1;
  padding: 2% 2% 2% 0;
  transition: right 1s ease-out;

  .video_left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 8%;
    cursor: pointer;

    .arrow-rigth {
      padding-top: 6%;
      font-size: 18px;
      font-family: "everett-medium";
    }
    .learn_more {
      font-size: 8px;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: "everett-regular";
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1%;
    width: 80%;
    height: 100%;

    .upper_text {
      font-family: "ghost-regular";
      font-size: 18px;
    }

    .items_box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 6% 0 6% 0;

      .items_upper {
        display: flex;
        justify-content: space-between;
      }

      .items_footer {
        display: flex;
        justify-content: space-between;
      }

      .items,
      .item_dealers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4%;

        .p_homeowners {
          padding-right: 7%;
        }

        p,
        .p_homeowners {
          font-family: "ghost-regular";
          font-size: 13px;
          margin-bottom: 1%;
        }
        .item_title {
          font-family: "everett-regular";
          font-size: 18px;
          margin-bottom: 1.5%;
        }
        .item_learn_more {
          color: #f2f2f2;
          font-family: "everett-regular";
          font-size: 8px;
        }
      }

      .item_dealers {
        width: 49%;
      }
    }
    .video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%;

      img {
        width: 100%;
        height: 100%;
      }

      .play {
        position: absolute;
        width: 5%;
        height: 6%;
      }
    }
  }
}

.video_container_active {
  right: 46%;
  transition: right 1s ease-out;

  .video_left_side {
    .arrow-rigth {
      padding-top: 6%;
      transform: rotate(180deg);
    }
  }

  .upper-text {
    font-size: 12px;
    font-family: "ghost-regular";
  }
}
