@import "./src/styles/variables.scss";

.lending_container,
.lending_container_blur {
  position: absolute;
  background-color: $summit-white;
  width: 100vw;
  height: 100vh;
  z-index: $homeowners-z;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .lending_header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 13vh;

    .lending_header_right {
      width: 30%;

      .lending_logo {
        z-index: 1000;

        .lending_img_logo {
          width: 10vw;
          height: auto;
        }
      }
    }

    .lending_header_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      .lending_contact {
        margin-top: 0.6%;
        color: $charlice;
        font-size: $font-s;
        font-family: $everett-medium;
        cursor: pointer;
      }

      .lending_close {
        color: $jet-black;
        font-size: $font-l;
        font-family: $everett-regular;
        line-height: 1;
        cursor: pointer;
      }
    }
  }

  .lending_content {
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .lending_content_right {
      width: 30%;

      .lending_title {
        font-family: $everett-regular;
        font-size: $font-l;
        color: $jet-black;
      }
    }

    .lending_content_left {
      width: 70%;
      display: flex;
      flex-direction: column;

      .lending_text {
        font-family: $ghost;
        font-size: $font-l;
        line-height: 1.2;
        color: $jet-black;
      }
    }
  }
}

.lending_footer {
  background-image: url("../../../../../public/assets/images/lending_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;

  .lending_footer_left {
    width: 30%;
  }

  .lending_infobox {
    display: flex;
    width: 70%;
    font-family: $ghost;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: $font-p;
    color: $summit-white;
    padding: 5%;

    .lending_infobox_items {
      display: flex;
      flex-direction: column;
      width: 33%;

      .lending_item_header {
        display: flex;
        align-items: center;
        margin-bottom: 2%;
      }

      .lending_item_number {
        font-family: $everett-medium;
        font-size: $font-m;
      }

      .lending_item_line {
        margin-left: 5%;
        margin-right: 5%;
        height: 1px;
        background: $summit-white;
        width: 90%;
      }

      .lending_item_line_third {
        display: none;
      }

      .lending_item_text,
      .lending_item_text_last {
        font-family: $ghost;
        font-size: $font-p;
        line-height: 1.3;
        color: $summit-white;
        width: 50%;
      }

      .lending_item_text_last {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .lending_container,
  .lending_container_blur {
    position: absolute;
    background-color: $summit-white;
    z-index: $homeowners-z;
    display: flex;
    padding: 0;
    overflow: scroll;
    width: 100%;

    .lending_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5% 5% 5%;
      margin-bottom: 75%;

      .lending_header_right {
        width: 100%;

        .lending_logo {
          z-index: 1000;
          margin-top: 10%;

          .lending_img_logo {
            width: 31vw;
            height: auto;
          }
        }
      }

      .lending_header_left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .lending_contact {
          visibility: hidden;
        }

        .lending_close {
          padding: 0;
          font-size: 36px;
          font-family: $everett-regular;
          line-height: 1;
          cursor: pointer;
        }
      }
    }

    .lending_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      width: 100%;

      .lending_content_right {
        width: 100%;

        .lending_title {
          padding: 0 5% 2% 5%;
          font-family: $everett-regular;
          font-size: 24px;
          color: $jet-black;
        }
      }

      .lending_content_left {
        width: 100%;
        display: flex;
        flex-direction: column;

        .lending_text {
          font-family: $ghost;
          font-size: 22px;
          line-height: 1.3;
          padding: 5% 5% 7% 5%;
          color: $jet-black;
        }
      }
    }

    .lending_footer {
      background-image: none;
      width: 100vw;
      padding: 12% 0 0 0;

      .lending_footer_left {
        display: none;
      }

      .lending_infobox {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 31% 5% 30% 5%;
        justify-content: flex-start;
        font-family: $ghost;
        font-size: $font-p;
        color: $summit-white;
        margin-top: 0;
        background-image: url("../../../../../public/assets/images/lending_partners_bg_mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .lending_text_img_box {
          width: 100%;
          height: auto;

          .lending_text_img {
            width: 100%;
            height: auto;
          }
        }

        .lending_infobox_items {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 100%;
          padding: 0;
          margin: 0;

          .lending_item_header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 5%;
          }

          .lending_item_number {
            font-family: $everett-medium;
            font-size: 22px;
            line-height: 1;
          }

          .lending_item_line {
            margin-left: 6px;
            margin-right: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            background: $summit-white;
            width: 1px;
            height: 100px;
          }

          .lending_item_line_third {
            display: none;
          }

          .lending_item_text,
          .lending_item_text_last {
            font-family: $ghost;
            font-size: 18px;
            line-height: 1.3;
            color: $summit-white;
            width: 100%;
            margin-left: 2vw;
          }

          .lending_item_text_last {
            width: 100%;
          }
        }
      }
    }
  }
}

.lending_container_blur {
  filter: blur(0.3rem);
}
