@import "./src/styles/variables.scss";

.lending_container,
.lending_container_blur {
  position: absolute;
  background-image: url("../../../../../public/assets/images/lending_bg.jpg");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  z-index: $homeowners-z;
  display: flex;
  flex-direction: column;

  .lending_header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 13vh;

    .lending_header_right {
      width: 30%;

      .lending_logo {
        z-index: 1000;

        .lending_img_logo {
          width: 10vw;
          height: auto;
        }
      }
    }

    .lending_header_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      .lending_contact {
        margin-top: 0.6%;
        color: $summit-white;
        font-size: $font-s;
      }

      .lending_close {
        color: $summit-white;
        font-size: $font-l;
        font-family: $everett-regular;
        line-height: 1;
        cursor: pointer;
      }
    }
  }

  .lending_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .lending_content_right {
      width: 30%;

      .lending_title {
        font-family: $everett-regular;
        font-size: $font-l;
        color: $summit-white;
      }
    }

    .lending_content_left {
      width: 70%;
      display: flex;
      flex-direction: column;

      .lending_text {
        font-family: $ghost;
        font-size: $font-l;
        line-height: 1.2;
        color: $summit-white;
      }

      .lending_infobox {
        display: flex;
        height: 100%;
        justify-content: space-between;
        font-family: $ghost;
        font-size: $font-p;
        color: $summit-white;

        .lending_infobox_items {
          display: flex;
          flex-direction: column;
          width: 33%;

          .lending_item_header {
            display: flex;
            align-items: center;
            margin-bottom: 2%;
          }

          .lending_item_number {
            font-family: $everett-medium;
            font-size: $font-m;
          }

          .lending_item_line {
            margin-left: 5%;
            margin-right: 5%;
            height: 1px;
            background: $summit-white;
            width: 90%;
          }

          .lending_item_line_third {
            display: none;
          }

          .lending_item_text,
          .lending_item_text_last {
            font-family: $ghost;
            font-size: $font-p;
            line-height: 1.3;
            color: $summit-white;
            width: 50%;
          }

          .lending_item_text_last {
            width: 100%;
          }
        }

        .lending_rigth_infobox {
        }
      }
    }
  }
}

.lending_container_blur {
  filter: blur(0.3rem);
}
