@import "./src/styles/variables.scss";

.photo_main {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-image: url("./../../../public/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.photo-container {
  width: 100%;
  height: 100%;

  .background_photo {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .photo_main {
    display: none;
  }
}

@media (max-height: 550px) {
  .photo_main {
    display: none;
  }
}
 