@import "./src/styles/variables.scss";

.photo_main {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  // background-image: url("./../../../public/assets/images/background.jpg");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  position: relative;

  .photo-container {
    width: 100%;
    height: 100%;
    width: 900px;
    height: auto;
    position: fixed;
  }

  .background_photo {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .photo_main {
    display: none;
  }
}

@media (max-height: 550px) {
  .photo_main {
    display: none;
  }
}
