.container_main,
.container_main_blur {
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}

.container_main_blur {
  filter: blur(0.3rem);
}

@media (max-width: 600px) {
  .container_main,
  .container_main_blur {
    margin: 0;
    min-height: -webkit-fill-available;
  }
}
