@import "./src/styles/variables.scss";

.dealers_container,
.dealers_container_blur {
  position: absolute;
  background-color: $summit-white;
  width: 100vw;
  height: 100vh;
  z-index: $homeowners-z;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .dealers_header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 13vh;

    .dealers_header_left {
      width: 30%;

      .dealers_logo {
        z-index: 1000;

        .dealers_img_logo {
          width: 10vw;
          height: auto;
        }
      }
    }

    .dealers_header_right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      .dealers_contact {
        margin-top: 0.6%;
        color: $charlice;
        font-size: $font-s;
        font-family: $everett-medium;
        cursor: pointer;
      }

      .dealers_close {
        color: $jet-black;
        font-size: $font-l;
        font-family: $everett-regular;
        line-height: 1;
        cursor: pointer;
      }
    }
  }

  .dealers_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .dealers_content_left {
      width: 30%;

      .dealers_title {
        font-family: $everett-regular;
        font-size: $font-l;
        color: $jet-black;
      }
    }

    .dealers_content_right {
      width: 70%;
      display: flex;
      flex-direction: column;

      .dealers_rigth_text {
        font-family: $ghost;
        font-size: $font-l;
        line-height: 1.2;
        color: $jet-black;
      }
    }
  }

  .dealers_bottom {
    background-image: url("../../../../../public/assets/images/dealers_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .dealers_bottom_left {
      width: 30%;
    }

    .dealers_footer {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100%;
      font-family: $ghost;
      color: $summit-white;
      font-size: $font-p;
      line-height: 1.2;
      margin-top: 15%;

      .dealers_footer_title {
        font-family: $everett-regular;
        font-size: $font-m;
        color: $summit-white;
        text-transform: uppercase;
        border-bottom: 1px solid $charlice;
        display: flex;
        justify-content: center;
        margin: 0 2% 0 2%;
        padding: 1%;
      }

      .dealers_footer_content {
        display: flex;

        .dealers_footer_content_item {
          padding: 2%;
          width: 33%;
          border-right: 1px solid $charlice;
        }

        .dealers_footer_content_item_last {
          padding: 2% 2% 2% 2%;
          width: 33%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .dealers_container,
  .dealers_container_blur {
    position: absolute;
    background-color: $summit-white;
    z-index: $homeowners-z;
    display: flex;
    padding: 0;
    overflow: scroll;
    width: 100%;

    .dealers_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2% 5% 5% 5%;
      margin-bottom: 70%;

      .dealers_header_left {
        width: 100%;

        .dealers_logo {
          margin-top: 7%;

          .dealers_img_logo {
            width: 31vw;
            height: auto;
            margin: 0;
            padding: 0;
          }
        }
      }

      .dealers_header_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .dealers_contact {
          visibility: hidden;
          margin-top: 0.6%;
          color: $charlice;
          font-size: $font-s;
          font-family: $everett-medium;
        }

        .dealers_close {
          color: $jet-black;
          padding: 0;
          font-size: 36px;
          font-family: $everett-regular;
          line-height: 1;
        }
      }
    }

    .dealers_content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      width: 100%;

      .dealers_content_left {
        width: 100%;

        .dealers_title {
          font-family: $everett-regular;
          font-size: 24px;
          color: $jet-black;
          padding: 0 5% 2% 5%;
        }
      }

      .dealers_content_right {
        width: 100%;
        display: flex;
        flex-direction: column;

        .dealers_rigth_text {
          font-family: $ghost;
          font-size: 22px;
          line-height: 1.2;
          color: $jet-black;
          padding: 5%;
        }
      }
    }

    .dealers_bottom {
      background-image: none;
      background-image: url("../../../../../public/assets/images/dealers_bg_mobile.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      padding: 25% 0 0 0;

      .dealers_bottom_left {
        display: none;
      }

      .dealers_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: $ghost;
        color: $summit-white;
        font-size: $font-p;
        line-height: 1.2;
        padding: 0;
        margin: 0;

        .dealers_footer_title {
          font-family: $everett-regular;
          font-size: 18px;
          color: $summit-white;
          text-transform: uppercase;
          border-bottom: none;
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0 5% 5% 5%;
        }

        .dealers_footer_content {
          width: 90%;
          display: flex;
          flex-direction: column;
          padding: 0 0 0 5%;

          .dealers_footer_content_item {
            width: 100%;
            border-right: none;
            font-size: 18px;
            border-top: 1px solid $charlice;
            margin-bottom: 0;
            padding: 3% 0 10% 0;
          }

          .dealers_footer_content_item_last {
            width: 100%;
            font-size: 18px;
            border-top: 1px solid $charlice;
            margin-bottom: 0;
            padding: 3% 0 0 0;
          }
        }
      }
    }
  }
}

.dealers_container_blur {
  filter: blur(0.3rem);
}
