@import "./src/styles/variables.scss";

.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media (max-width: 900px) {
//   .app_container {
//     display: flex;
//     overflow: scroll;
//   }
// }
// @media (max-width: 900px) and (max-height: 415px) {
//   .app_container {
//     display: flex;
//     overflow: scroll;
//   }
// }
