@font-face {
  font-family: "everett-medium";
  src: url("./fonts/Everett/TWKEverett-Medium-web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "everett-regular";
  src: url("./fonts/Everett/TWKEverett-Regular-web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ghost-regular";
  src: url("./fonts/Ghost/TWKGhost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-size: 30px;
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
