@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "everett-medium";
  src: url("/public/assets/fonts/Everett/TWKEverett-Medium-web.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "everett-regular";
  src: url("/public/assets/fonts/Everett/TWKEverett-Regular-web.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ghost-regular";
  src: url("/public/assets/fonts/Ghost/TWKGhost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 30px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
